/* Reset CSS */
html {
  z-index: 1;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/bada.jpg');
  background-color: darkgrey;
  background-position: 0% 100%;
  background-size: cover;

}

a, button, input, label {
  cursor: pointer;
}

/*
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#bigSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 700px;
  height: 95vh;
  border-radius: 50%;
  /*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(224, 224, 224) 100%);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-image: repeating-conic-gradient(rgb(182, 182, 182) 0deg, white 45deg, rgb(210, 210, 210) 180deg);
}

#bigSlider {
  cursor: e-resize;
  margin-top: 5px;
  transform: rotate(180deg);
  -webkit-appearance: none;
  width: 100%;
  height: 95vh;
  /*outline: none; */
  border: 1px black solid;
  border-radius: 500px;
  background: linear-gradient(180deg, rgb(120, 120, 120) 0%, rgb(155, 155, 155) 5%, rgb(255, 255, 255) 50%, rgb(155, 155, 155)95%, rgb(120, 120, 120) 100%);
  z-index: 3;
}

#output{
  display: none;
}

span{
  position: relative;
  z-index: 4;
}
/*
.titletext{
  color: white;
  line-height: 4rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: left;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  text-decoration: none;
  z-index: 2;
}
 /*letter-spacing: -0.3rem; */

.titletext{
  color: white;
  line-height: 2rem;
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-align: left;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  margin: 4rem;
  z-index: 2;
  /*text-shadow: 2px 2px 5px black;*/
}

.textcontainer{
  border: 1px black solid;
  padding: 0rem;
  /* background-color: cornflowerblue; */
  border-radius: 15vh;
  margin-bottom: 1vh;
  background: linear-gradient(180deg, rgb(120, 120, 120) 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0)95%, rgb(120, 120, 120) 100%);
  z-index: 1;
}

.textcontainer:hover{
  background: linear-gradient(180deg, rgba(0, 0, 0,1) 0%, rgba(0,117,255,0) 5%, rgba(0,117,255,0) 95%, rgba(0, 0, 0,1) 100%);
  border: 1px black solid;
}

.textcontainer:hover .titletext{
  color: black;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

#sliderstudy{
  margin-top: 0.5vh;
}




