/* Reset CSS */
html, body {
  z-index: 1;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a, button, input, label {
  cursor: pointer;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}






#ranger{
  width: 100%;
  cursor: pointer;
}

.container{
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 48% 4% 48%;
  gap: 0px 0px;
  grid-template-areas:
    "top"
    "slider"
    "bottom";
}
.letterContainerTop { grid-area: top; }
.slidercontainer { grid-area: slider; }
.letterContainerBottom { grid-area: bottom; }


h1{
  display: inline-block;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  writing-mode: vertical-lr;
  line-height: 0rem;
  letter-spacing: 2px;
}

.letterContainerTop{
  margin: 0px;
}
  
.letterContainerBottom{
  margin: 0px;
  margin-bottom: 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  /*outline: none; */
  /* border: 1px black solid; */
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: rgb(0, 0, 0);
  cursor:e-resize;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  /* border:1px black solid; */
  /* box-shadow: 1px 1px 2px gray;*/
}

/*
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
*/

